/*Sections*/

.hero {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*media Queries*/

@media screen and (min-height: 1024px) {
    .container {
        //height: 100vh;
    }
}
